<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="Logs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="extremalSET" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="prosto" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
        <WindowsFormsApp1.Settings1>
            <setting name="Logs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </WindowsFormsApp1.Settings1>
    </userSettings>
    <applicationSettings>
        <WindowsFormsApp1.Settings1>
            <setting name="Version" serializeAs="String">
                <value>1.1</value>
            </setting>
        </WindowsFormsApp1.Settings1>
    </applicationSettings>
</configuration>